.Pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, 8rem);
  column-gap: 2rem;
  row-gap: 1rem;
}

@media (min-width: 768px) {
  .Pokemons {
    margin: 0 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 8rem);
  }
}

@media (min-width: 1200px) {
  .Pokemons {
    margin: 0 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 8rem);
    column-gap: 3rem;
    row-gap: 2rem;
  }
}
