@import "../../scss/mixins";
@import "../../scss/variables";

.Header {
  background-color: #ffffff;
  height: 3.25rem;
  padding: 1rem 0;
  border-bottom: 1px solid $border-color;
  margin-bottom: 2rem;

  div {
    @include display_flex(row, space-between, center);
  }
}

.HeaderLargeMenuItem {
  height: 100%;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.TranslateButton {
  border: 1px solid $light-gray;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .Header {
    padding: 0.5rem 0;

    div > div {
      @include display_flex(row, space-between, center);
      height: 100%;
      width: 31rem;
    }
  }
}
