@import "../../scss/mixins";
@import "../../scss/variables";

.Item {
  @include display_flex(row, center, center);

  border: none;
  border-radius: 0.5rem;
  background-color: darken($light-gray, 15%);
}
