@import "../../scss/variables";

.NoResults {
  padding: 0.5rem 0 0.5rem 0.25rem;
  border: 1px solid lighten($error, 15%);
  background-color: lighten($error, 15%);
  border-radius: 0.25rem;
  max-width: 75rem;
  margin: auto;
}
